/* Icons from directory "" */
.icon-Adobe-01,.icon-Adobe-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-Adobe-01-dims{width:80px;height:80px; display: inline-block}
.icon-Angular-01,.icon-Angular-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -80px;background-repeat:no-repeat}
.icon-Angular-01-dims{width:80px;height:80px; display: inline-block}
.icon-Aws-01,.icon-Aws-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-Aws-01-dims{width:80px;height:80px; display: inline-block}
.icon-Boostrap-01,.icon-Boostrap-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -240px;background-repeat:no-repeat}
.icon-Boostrap-01-dims{width:80px;height:80px; display: inline-block}
.icon-Css3-01,.icon-Css3-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -320px;background-repeat:no-repeat}
.icon-Css3-01-dims{width:80px;height:80px; display: inline-block}
.icon-Firebase-01,.icon-Firebase-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -400px;background-repeat:no-repeat}
.icon-Firebase-01-dims{width:80px;height:80px; display: inline-block}
.icon-Github-01,.icon-Github-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-Github-01-dims{width:80px;height:80px; display: inline-block}
.icon-Html5-01,.icon-Html5-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -560px;background-repeat:no-repeat}
.icon-Html5-01-dims{width:80px;height:80px; display: inline-block}
.icon-JavaScript-01,.icon-JavaScript-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -640px;background-repeat:no-repeat}
.icon-JavaScript-01-dims{width:80px;height:80px; display: inline-block}
.icon-Jest-01,.icon-Jest-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -720px;background-repeat:no-repeat}
.icon-Jest-01-dims{width:80px;height:80px; display: inline-block}
.icon-MicrosoftSQLServer-01,.icon-MicrosoftSQLServer-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -800px;background-repeat:no-repeat}
.icon-MicrosoftSQLServer-01-dims{width:80px;height:80px; display: inline-block}
.icon-VisualStudio-01,.icon-VisualStudio-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -880px;background-repeat:no-repeat}
.icon-VisualStudio-01-dims{width:80px;height:80px; display: inline-block}
.icon-android-01,.icon-android-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -960px;background-repeat:no-repeat}
.icon-android-01-dims{width:80px;height:80px; display: inline-block}
.icon-react-01,.icon-react-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -1040px;background-repeat:no-repeat}
.icon-react-01-dims{width:80px;height:80px; display: inline-block}
.icon-webpack-01,.icon-webpack-01\:regular{background-image:url('../assets/icons/icons.svg');background-position:0 -1120px;background-repeat:no-repeat}
.icon-webpack-01-dims{width:80px;height:80px; display: inline-block}
